@{
    ViewBag.Title = "Movies";
}

@Html.Partial("_ModalDialogPartial")

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    @Html.ActionLink("New Movie", "Create", "Movies", new { area = GlobalConstants.AdminArea }, new { @class = "btn btn-default" })
</div>

<hr>

<div class="row" id="update-target">
    @Html.ActionAsync("ReadData", "Movies", new { area = GlobalConstants.AdminArea })
</div>

@section scripts{
    @Scripts.Render("~/bundles/scroll-to-top")
    <script>
        $(document).ready(function (e) {
            $(".partial-content").each(function (index, item) {
                var $current = $(item);
                var url = $current.data("url");
                if (url && url.length > 0) {
                    $current.load(url);
                }
            });
        })
    </script>
}