@model ImdbLite.Web.Areas.Administration.ViewModels.Articles.ArticleUpdateModel

@using (Html.BeginForm("Update", "Articles", new { area = GlobalConstants.AdminArea }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

        <div class="row container">

            <div class="col-md-7">
                <div class="form-group">
                    @Html.Image(Model.Photo.Content, Model.Photo.Type, Model.Title, new { @class = "img-responsive", id = "image-preview" })
                    @Html.HiddenFor(model => Model.Photo.Type)
                    @Html.HiddenFor(model => model.Photo.Content)
                    @Html.EditorFor(model => model.FileToUpload)
                </div>

                @Html.EditorFor(m => m.Content)
            </div>

            <div class="col-md-4 col-md-offset-1">
                @Html.EditorFor(m => m.Title)
                @Html.EditorFor(m => m.WrittenBy)

                <div class="form-group">
                    <div>@Html.LabelFor(m => m.selectedCelebrities)</div>
                    @Html.ListBoxFor(m => m.selectedCelebrities, Model.CelebritiesSelectList, new { @class = "form-control chzn-select genres", @data_placeholder = "Choose Celebrities" })
                </div>
                <div class="form-group">
                    <div>@Html.LabelFor(m => m.selectedMovies)</div>
                    @Html.ListBoxFor(m => m.selectedMovies, Model.MoviesSelectList, new { @class = "form-control chzn-select castmembers", @data_placeholder = "Choose Movies" })
                </div>
            </div>

        </div>

        <div class="row container">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Submit(new { value = "Save", @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/picture-preview")
    @Scripts.Render("~/bundles/activate-chosen")
    @Scripts.Render("~/bundles/jqueryval")
}