@{
    ViewBag.Title = "Home";
}

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Movies")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-film"></span> <br />Movies</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Celebrities")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-star-empty"></span> <br />Celebrities</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Genres")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Genres</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Photos")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-picture"></span> <br />Gallery</a>
            </p>
        </div>
    </div>
</div>
<hr class="hidden-sm hidden-xs" />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Cinemas")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-facetime-video"></span> <br />Cinemas</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Contacts")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-envelope"></span> <br />Contacts</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Cinemas")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-home"></span> <br />Home Page</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Users")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span> <br />Users</a>
            </p>
        </div>
    </div>
</div>
<hr class="hidden-sm hidden-xs" />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Articles")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-pencil"></span> <br />Articles</a>
            </p>
        </div>
        @*<div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Contacts")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-envelope"></span> <br />Empty</a>
            </p>
        </div>*@
    </div>
    <div class="col-md-6">
        @*<div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Cinemas")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-home"></span> <br />Empty</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Users")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span> <br />Empty</a>
            </p>
        </div>*@
    </div>
</div>
