@model IEnumerable<ImdbLite.Web.Areas.Administration.ViewModels.Genres.GenreIndexViewModel>
@{
    ViewBag.Title = "Genres";
}
@Html.Partial("_ModalDialogPartial")
<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    @Html.ActionLink("New Genre", "Create", "Genres", new { area = GlobalConstants.AdminArea }, new { @class = "btn btn-default" })
</div>
<hr>
<div class="row" id="update-target">
    @Html.Action("ReadData", "Genres", new { area = GlobalConstants.AdminArea })
</div>

@section scripts{
    @Scripts.Render("~/bundles/scroll-to-top")
}