@model ImdbLite.Web.ViewModels.Contacts.ContactQuickViewViewModel

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-uppercase">@Html.DisplayFor(m => m.Title) - @Html.DisplayFor(m => m.City)</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="row"><div class="text-info col-md-4">@Html.DisplayNameFor(m => m.FullName):</div> <div class="col-md-pull-1 col-md-4">@Html.DisplayFor(m => m.FullName)</div></li>
                <li class="row"><div class="text-info col-md-4">@Html.DisplayNameFor(m => m.CompanyName):</div> <div class="col-md-pull-1 col-md-4">@Html.DisplayFor(m => m.CompanyName)</div></li>
                <li class="row"><div class="text-info col-md-4">@Html.DisplayNameFor(m => m.Address):</div> <div class="col-md-pull-1 col-md-4">@Html.DisplayFor(m => m.Address)</div></li>
                <li class="row"><div class="text-info col-md-4">@Html.DisplayNameFor(m => m.PhoneNumber):</div> <div class="col-md-pull-1 col-md-4">@Html.DisplayFor(m => m.PhoneNumber)</div></li>
                <li class="row"><div class="text-info col-md-4">@Html.DisplayNameFor(m => m.WebAddress):</div> <div class="col-md-pull-1 col-md-4">@Html.DisplayFor(m => m.WebAddress)</div></li>
            </ul>
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@Model.GoogleMapsUrl"></iframe>

            @Html.ActionLink("Send E-Mail", "Details", "Contacts", new { Id = Model.Id }, new { @class = "btn btn-success" })
        </div>
    </div>
}
