@model ImdbLite.Web.Areas.Administration.ViewModels.Contacts.ContactInputModel

@using (Html.BeginForm("Create", "Contacts", new { area = GlobalConstants.AdminArea }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

        <div class="row container">

            <div class="col-md-4">

                @Html.EditorFor(m => m.Title)

                @Html.EditorFor(m => m.CompanyName)

                @Html.EditorFor(m => m.FirstName)

                @Html.EditorFor(m => m.LastName)

                @Html.EditorFor(m => m.PhoneNumber)

                <div class="form-group">
                    <div>@Html.LabelFor(m => m.CityId)</div>
                    @Html.DropDownListFor(m => m.CityId, Model.CitiesList, new { @class = "form-control chzn-select", @data_placeholder = "Choose City" })
                </div>
            </div>

            <div class="col-md-6">
                @Html.EditorFor(m => m.Address)

                @Html.EditorFor(m => m.EMail)

                @Html.EditorFor(m => m.WebAddress)

                @Html.EditorFor(m => m.GoogleMapsUrl)
            </div>

        </div>

        <div class="row container">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Submit(new { value = "Save", @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/activate-chosen")
    @Scripts.Render("~/bundles/jqueryval")
}
