@model ImdbLite.Web.ViewModels.Home.HomePageViewModel

<div class="row">
    <div class="col-md-6 hidden-xs">
        @Html.ActionAsync("GetArticlesCarouselListItems", "Articles")
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        @Html.ActionAsync("GetMoviesTrailers", "Movies")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.ActionAsync("GetArticlesListItems", "Articles", new { take = 10 })
    </div>
    <div class="col-md-6">
        @Html.ActionAsync("GetMoviesListItems", "Movies", new { take = 10, direction = "desc" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.ActionAsync("GetMoviesWithRatingsListItems", "Movies", new { take = 10, direction = "desc" })
    </div>
    <div class="col-md-6">
        @Html.ActionAsync("GetMoviesWithRatingsListItems", "Movies", new { take = 10 })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionAsync("GetMoviesOnTheathers", "Movies", new { take = 10 })
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/activate-fancybox-trailer")
    <script>

        var initRatings = function () {
            $(".rating").rating();
        };

        var initCarousel = function () {
            var owl = $("#owl-demo");

            owl.owlCarousel({
                autoplay: true,
                items: 10, //10 items above 1000px browser width
                itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                itemsTablet: [600, 2], //2 items between 600 and 0
                itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
            });

            // Custom Navigation Events
            $(".next").click(function () {
                owl.trigger('owl.next');
            })
            $(".prev").click(function () {
                owl.trigger('owl.prev');
            })
            $(".play").click(function () {
                owl.trigger('owl.play', 1000); //owl.play event accept autoPlay speed as second parameter
            })
            $(".stop").click(function () {
                owl.trigger('owl.stop');
            });
        };

        $(document).ready(function (e) {
            $(".partial-content").each(function (index, item) {
                var $current = $(item);
                var url = $current.data("url");
                if (url && url.length > 0) {
                    $current.load(url, function () {
                        initRatings();
                        initCarousel();
                    });
                }
            });
        })
    </script>
}
